<a href="https://colab.research.google.com/github/JhonTroyeMartinez/PLNG211-QC/blob/main/Control_and_looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#if Statement

a = 12
b = 100

if a < b:
  print("a is less than b")

a is less than b

In [7]:
#Elif statement

if a < b:
  print("a is less than b")
elif a > b:
  print("a is greater than b")

a is less than b

In [8]:
if a < b:
  print("a is less than b")
elif a > b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is less than b

In [11]:
#Short Hand If Statement

c = 10
d = 50

if c>d: print("c>d")

In [12]:
#Short Hand If...Else Statement
print("c>d") if c>d else print("d>c")

d>c

In [15]:
#And Statement
if 10>50 and 8>4:
  print("Both statement are true")
else:
   print("one of the statement is false / both statement are not true")

one of the statement is false / both statement are not true

In [17]:
#Or Statement
if 5>10 or 8>40:
  print("True")
else:
  print("False")

False

In [18]:
#Bitwise Statement
e = 4
f = 2
f^e

6

In [24]:
#Nested  If Statement

x = 39
if x > 10:
  print("Number is above 10")
  if x > 20:
    print("Number is above 20")
    if x > 30:
      print("Number is above 30")
      if x > 40:
        print("Number is above 40")
      if x > 50:
        print("Number is above 50")
      else:
        print("Number is less than 40")

Number is above 10
Number is above 20
Number is above 30
Number is less than 40

Enter a number: -1
NEGATIVE

In [40]:
#Loop Control Statement
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [45]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for y in week:
  if y == "Thursday":
    break
  print(y)

Sunday
Monday
Tuesday
Wednesday

In [59]:
#range() function
for x in range(1,6+1):
  print(x)

1
2
3
4
5
6

In [66]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [67]:
#while loop statement
i = 1
while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

In [68]:
#The while loop and break Statement
i = 1
while i<=6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3