<a href="https://colab.research.google.com/github/JhonTroyeMartinez/PLNG211-QC/blob/main/Variables%2C%20Data%20Types%20and%20Conditional%20Statement%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variables and Data Types

In [ ]:
#Numbers
varNum = 123
pi = 3.14159

In [ ]:
#String
varString = "Hello World!"
varText = 'This is a string'

In [ ]:
#Lists
varList = ["abc",123]

In [ ]:
#Tuplets
varTurple ['abc',123"HELLO"]

In [ ]:
#Dictionary
var = 3
varDict = {'first':1, '2':'2nd',3:var}

varDict {}
varDict ['first']=1
varDict ['2']='2nd'
varDict [3] = var

Arithmetic

In [1]:
#Addition
a = 5 + 3
print(a)

8

In [6]:
#Subtraction
a = 5 - 3
print(a)

2

In [5]:
#Division
a = 5 / 3
print(a)

b = 5 % 3
print(b)

c = 5 // 3
print(c)

1.6666666666666667
2
1

In [4]:
#Multiplication
a = 5 * 3
print(a)

15

In [3]:
#Exponent
a = 5 ** 3
print(a)

125

In [7]:
#Increment / Decrement
a = 5
a +=1
print(a)

b = 5
b -= 1
print(b)

6
4

In [9]:
#String Concatenation
a = 'Hello ' + 'World!'
print(a)

Hello World!

In [10]:
#Complex Expressions
a = 3 + 5 - 6 * 2 / 4
print(a)

5.0

Condition Statement and Data Structure

In [13]:
#Boolean Condition 
x = True

if x:
  print("var x is True")
else:
  print("var x is False")

var x is True

In [14]:
#String Condition
x = "Hello World!"
if x == 'Hello World!':
  print("var x is Hello World!")
else:
  print("var x is not Hello World!")

var x is Hello World!

In [15]:
#Numerical Conditions
x = 10
if x =='10':
  print("var x is a string")
elif x == 10:
  print("var x is an integer")
else:
  print("var x is none of the above")

var x is an integer

Loops

In [17]:
#For Loops
for var in range(0,5,2):
 print(var)

0
2
4

In [18]:
#While Loops
var = 0
while var < 5:
 print(var)
 var +=2

0
2
4

In [ ]:
#Nested Loops
x = 0
while x < 5:
  for y in range(0,x):
    print(y, end='')
    x +=1
    print()

Lists

In [22]:
pi = 3.14159
varList = [1,2, 'A', 'B', 'Hello!',pi]
print(varList[0])

print(varList[4])

varList.append('World!')
print(varList[6])

len(varList)

print(varList[5])

varList.remove(pi)
print(varList[5])

1
Hello!
World!
3.14159
World!

In [25]:
#Slicing

varList = [1,2,3,4,5,6,7,8,9,10]
print(varList[:5])

print(varList[5:])

print(varList[-2:])

print(varList[:-2])

print(varList[2:-2])

print(varList[2:8:2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[9, 10]
[1, 2, 3, 4, 5, 6, 7, 8]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]